<a href="https://colab.research.google.com/github/kimgm1018/kimgm/blob/main/%EB%B0%B1%EC%A4%80_%EC%96%B4%EB%A0%A4%EC%9B%A0%EB%8D%98_%EA%B2%83%2C_%EB%AA%BB%ED%92%80%EC%97%88%EB%8D%98%EA%B2%83(%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**백준 python 4673(셀프 넘버)**

셀프 넘버는 1949년 인도 수학자 D.R. Kaprekar가 이름 붙였다. 양의 정수 n에 대해서 d(n)을 n과 n의 각 자리수를 더하는 함수라고 정의하자. 예를 들어, d(75) = 75+7+5 = 87이다.

양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 

예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.

33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 

생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
nums = set(range(1, 10001)) #set으로 중복 제거 
generated_nums = set()

for i in range(1, 10001): #i = int형, j = str형으로 만든다.(int에 str를 하면 쪼개진다.)
  for j in str(i):
    i += int(j)
  generated_nums.add(i) # 생성자가 있는 숫자들을 모아준다.

self_nums = sorted(nums - generated_nums) #전체 숫자에서 생성자가 있는 숫자를 빼면 셀프 넘버만 남는다.
for i in self_nums:
  print(i)

In [ ]:
i = 10
for i in str(i):
  print(i)
  print(type(i))

**백준 python 1065(한수)**

어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다. N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
answer = 0
han = []
for i in range(1, n+1):
  if i<100:
    answer += 1
  else:
    sn = list(map(int, str(i)))
    for j in range(len(sn)-1):
      han.append(sn[j] - sn[j+1])    
    if len(set(han)) == 1:
      answer += 1
    else:
      pass
    han.clear()
answer

**아스키 코드**\
미국정보교환표준부호, 또는 줄여서 ASCII는 영문 알파벳을 사용하는 대표적인 문자 인코딩이다. 아스키는 컴퓨터와 통신 장비를 비롯한 문자를 사용하는 많은 장치에서 사용되며, 대부분의 문자 인코딩이 아스키에 기초를 두고 있다.



```
print(f"아스키 코드값 65가 의미하는 문자는 : {chr(65)}
print(f"알바벳 대문자 A의 아스키코드값은 : {ord("A")}
```
위에서 알 수 있듯이 알파벳에서 아스키 코드로는 ord(), 아스키코드에서 알파벳으로는 chr()를 쓰면 된다.

**백준 python 10809(알파벳 찾기)**\
알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

-join문의 이해 부족: join을 쓰려면 str타입이여야 한다. 밑의 문제와 같은 경우에는 인덱스 번호를 int타입으로 저장했기 때문에 모두 str형태로 바꾼 후 ''.join()을 써줬다.

In [ ]:
n = 'baekjoon'
alpa = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
answer = []
for i in alpa:
  if i in n:
    answer.append(n.index(i))
  else:
    answer.append(-1)
answer = list(map(str, answer))
print(" ".join(answer))

**백준 python 1157(단어공부)**\
알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

1번 풀이:\
input()으로 들어오는 모든 문자열을 대문자로 치환한 뒤, 중복을 제거한 list를 생성한 후 for문으로 중복제거 된 리스트를 순회하며 count리스트에 중복 개수를 저장, 가장 큰 숫자의 인덱스를 활용하여 출력

2번 풀이:\
딕셔너리를 활용. from collections import Counter을 활용하여 counter함수를 활성화. list(str())을 활용한 리스트에 counter함수를 적용하여 각 문자가 얼마나 반복되었는지를 카운터형으로 저장, 딕셔너리로 변환 이후 딕셔너리 value값들중 max값을 찾아내여 key값 반환(해봐야함) - value로 key값을 찾는것은 할 수 있지만 for문을 돌리거나 딕셔너리를 reversed 해야해서 저장공간이 2배, 중복값 삭제의 경우가 있음 그러므로 적절하지 않다.

3번 풀이:\
1번 풀이에 이어서 count리스트의 길이와 set(count)리스트의 갯수가 달라진다면 중복되는 항목이 있다는 것이므로 개수가 같은 문자가 있다고 생각 -> '?'출력
-> set을 활용하면서 인덱스가 꼬였음 그러므로 적절하지 않다.

In [ ]:
string = input().upper()
set_str = list(set(string))
count_list = []
for i in set_str:
  count_list.append(string.count(i))
if count_list.count(max(count_list)) >1 :
  print('?')
else:
  print(set_str[count_list.index(max(count_list))])

**백준 python 5622(다이얼)**\
상근이의 할머니는 아래 그림과 같이 오래된 다이얼 전화기를 사용한다.
![다운로드.jfif]()


전화를 걸고 싶은 번호가 있다면, 숫자를 하나를 누른 다음에 금속 핀이 있는 곳 까지 시계방향으로 돌려야 한다. 숫자를 하나 누르면 다이얼이 처음 위치로 돌아가고, 다음 숫자를 누르려면 다이얼을 처음 위치에서 다시 돌려야 한다.

숫자 1을 걸려면 총 2초가 필요하다. 1보다 큰 수를 거는데 걸리는 시간은 이보다 더 걸리며, 한 칸 옆에 있는 숫자를 걸기 위해선 1초씩 더 걸린다.

상근이의 할머니는 전화 번호를 각 숫자에 해당하는 문자로 외운다. 즉, 어떤 단어를 걸 때, 각 알파벳에 해당하는 숫자를 걸면 된다. 예를 들어, UNUCIC는 868242와 같다.

할머니가 외운 단어가 주어졌을 때, 이 전화를 걸기 위해서 필요한 최소 시간을 구하는 프로그램을 작성하시오.


풀이
```
alpabet_list = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
word = input()
```
위 코드와 같이 알파벳을 숫자에 맞게 나눈다.


```
time = 0
for unit in alpabet_list :  
    for i in unit:  # alpabet 리스트에서 각 요소를 꺼내서 한글자씩 분리
        for x in word :  # 입력받은 문자를 하나씩 분리
```
이후 문자를 하나씩 분리


```
            if i == x :  # 두 알파벳이 같으면
                time += alpabet_list.index(unit) +3  # time = time + index +3
print(time)
```
이후 input()으로 받은 문자열을 나눈것과 nulit을 나눈 i과 같은 경우 시간을 추가한다. (1이 2초가 걸리므로 인덱스 +2를 해주는것이 시간을 정확하게 알 수 있다. 풀이에서는 인덱스를 사용했으므로 +1을 더해서 +3을 해준다.)

**백준 python 2775 (부녀회장이 될테야)**

평소 반상회에 참석하는 것을 좋아하는 주희는 이번 기회에 부녀회장이 되고 싶어 각 층의 사람들을 불러 모아 반상회를 주최하려고 한다.

이 아파트에 거주를 하려면 조건이 있는데, “a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다” 는 계약 조항을 꼭 지키고 들어와야 한다.

아파트에 비어있는 집은 없고 모든 거주민들이 이 계약 조건을 지키고 왔다고 가정했을 때, 주어지는 양의 정수 k와 n에 대해 k층에 n호에는 몇 명이 살고 있는지 출력하라. 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

**풀이**
우선 테스트 케이스의 갯수, return해야 하는 층, 호의 값을 input()으로 받아준다. 


```
test_case = int(input())

for _ in range(t):
  floor = int(input()) #층
  num = int(input()) #호
  f0 = [x for x in range(1, n+1)]
```
로 각 테스트 케이스마다 층과 호를 받아서 할댕해준다. 그리고 모든 층에 기초가 되는 층은 0층은 호수로 받은 num값만큼 리스트를 만들어준다.


```
for k in range(floor):
  for i in range(1, num):
    f0[i] += f0[i-1]
print(f0[-1])
```
이후 인덱스를 활용하여 각 층에 살고있는 사람수를 변경한다. \
ex) 0층에는 1명, 2명, 3명, 4명...이 살고있다면 리스트는 [1,2,3,4...]가 된다.\
for문을 거치면서 이 리스트는 1층 사람 수 리스트, 2층 사람수 리스트로 바뀌게 된다.

**결과**


```
t = int(input())

for _ in range(t):
  floor = int(input())
  num = int(input())
  f0 = [x for x in range(1, num+1)]
  for k in range(floor):
    for i in range(1, num):
      f0[i] += f0[i-1]
  print(f0[-1])
```

* for _ in range(): 는 range()를 돌 때 값만큼 돌긴 하지만 내가 얼만큼 돌고있는지에 대하여 궁굼하지 않을 때 name을 지정해 줄 수 있다.

In [ ]:
test_case = int(input()) #테스트 케이스 받기

for _ in range(test_case): #높이 넓이 손님 순서를 받기
  h, w, room = map(int, input().split())
  if room%h == 0:
    rn = h
    floor = room//h
  else:
    rn = room % h
    floor = room//h + 1 
  print(f'{rn*100 + floor}')

1
2 20 30
215

In [ ]:
n = int(input())
cnt = 1

while n - cnt > 0:
  n -= cnt
  cnt += 1

if cnt%2 == 0:
  print(f'{n}/{(cnt+1)-n}')
else:
  print(f'{(cnt+1)-n}/{n}')

8
2/3

**백준 python 2839 (설탕 배달)**

상근이는 요즘 설탕공장에서 설탕을 배달하고 있다. 상근이는 지금 사탕가게에 설탕을 정확하게 N킬로그램을 배달해야 한다. 설탕공장에서 만드는 설탕은 봉지에 담겨져 있다. 봉지는 3킬로그램 봉지와 5킬로그램 봉지가 있다.

상근이는 귀찮기 때문에, 최대한 적은 봉지를 들고 가려고 한다. 예를 들어, 18킬로그램 설탕을 배달해야 할 때, 3킬로그램 봉지 6개를 가져가도 되지만, 5킬로그램 3개와 3킬로그램 1개를 배달하면, 더 적은 개수의 봉지를 배달할 수 있다.

상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 그 수를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

if n%5 == 0:
  print(n//5)
else:
  p = 0
  while n > 0:
    n -= 3
    p += 1
    if n%5 == 0:
      p += n // 5
      print(p)
      break
    elif n == 1 or n ==2:
      print(-1)
      break
    elif n == 0:
      print(p)
      break

###백준 python 2941(크로아티아 알파벳)

예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.

크로아티아 알파벳	변경\
č	-> c=\
ć -> c-\
dž ->	dz=\
đ	-> d-\
lj ->	lj\
nj -> nj\
š	-> s=\
ž	-> z=

예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

In [ ]:
nlist = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
alphabet = input()
answer = alphabet
for i in nlist:
  if i in alphabet:
    answer = answer.replace(i, '1')
  else:
    pass

print(len(list(answer)))

ljes=njak
6


가장 깔끔한 방법
```
nlist = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
alphabet = input()
for i in nlist:
    alphabet = alphabet.replace(i, '1')

print(len(alphabet))
```

###백준 python 1978(소수 찾기)
주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

```
n = int(input()) # 입력받을 숫자의 개수
nums = list(map(int, input().split(' '))) # 공백으로 숫자 구분. ex) 1 3 5 7
resCnt = 0 # 소수의 개수

for i in nums:
    cnt = 0 
    if(i == 1): # 1은 소수가 아니기 때문에 건너띔
        continue
    for j in range(2, i+1):
        if(i % j == 0):
            cnt += 1
    if(cnt == 1):
        resCnt += 1
print(resCnt)
```
여기서 


```
for j in range(2, i+1):
```
부분을 math 라이브러리를 활용해서 제곱근으로 바꿔주면 시간을 더 단축 할 수 있다.\
-> 소수의 판별은 제곱근 까지 나눴을 때 나머지가 있는지만 판별하면 되기 때문에 sqrt()함수를 쓰면 된다.


```
for j in range(2, int(math.sqrt(n))+1):
```
가 되겠다.

###백준 1929 소수 구하기(python)

M이상 N이하의 소수를 모두 출력하는 프로그램을 작성하시오.

<입력> 첫째 줄에 자연수 M과 N이 빈 칸을 사이에 두고 주어진다. (1 ≤ M ≤ N ≤ 1,000,000) M이상 N이하의 소수가 하나 이상 있는 입력만 주어진다.

<출력> 한 줄에 하나씩, 증가하는 순서대로 소수를 출력한다.

In [ ]:
m,n = map(int, input().split())
for i in range(m, n+1):
  cnt = 0
  if i == 1:
    continue
  for j in range(2, i+1):
    if (i%j == 0): 
      cnt += 1
  if cnt == 1:
    print(i)

이렇게 푸니까 시간 초과가 나왔다. 이때까지 풀었던 소수 판별 문제는 시간 초과가 나오지 않았는데 시간 초과가 나왔다.

결국에는 제곱근 방식을 활용해야한다. 테스트 케이스의 범위가 넓어지면 시간초과가 걸릴만큼 시간이 오래걸리는 모양.



```
def isPrime(num):
    if num==1:
        return False
    else:
        for i in range(2, int(num**0.5)+1):
            if num%i == 0:
                return False
        return True

M, N = map(int, input().split())

for i in range(M, N+1):
    if isPrime(i):
        print(i)
```

위에있는 math라이브러리를 불러오지 않고 제곱근 안에서 prime넘버를 확인하고 소수일 경우 참을, 소수가 아닐 경우 거짓을 부여해서 참 값들만 나올 수 있도록 코드를 짠다.

True, False 사용이 능숙하다.

###백준 4948 베르트랑 공준(python)

베르트랑 공준은 임의의 자연수 n에 대하여, n보다 크고, 2n보다 작거나 같은 소수는 적어도 하나 존재한다는 내용을 담고 있다.

이 명제는 조제프 베르트랑이 1845년에 추측했고, 파프누티 체비쇼프가 1850년에 증명했다.

예를 들어, 10보다 크고, 20보다 작거나 같은 소수는 4개가 있다. (11, 13, 17, 19) 또, 14보다 크고, 28보다 작거나 같은 소수는 3개가 있다. (17,19, 23)

자연수 n이 주어졌을 때, n보다 크고, 2n보다 작거나 같은 소수의 개수를 구하는 프로그램을 작성하시오. 

<알고가야 할 것>

*에라토스테네스의 체*

어떤 N까지의 수 중에 소수를 판별하기 위하여는 N의 제곱근 까지 2부터 배수를 지우고, 남은 숫자들 중 가장 작은 소수의 배수를 지우고,,,N의 제곱근 까지 반복하다 보면 소수만 남는다.

In [ ]:
from math import sqrt

def prime(n): # 소수를 판별하는 함수 -> False면 소수가 아님
  if n == 1:
    return False
  for i in range(2, int(sqrt(n)+1)): #에라토스테네스의 체에 때른 제곱근 까지만
    if n%i == 0:
      return False
  return True

a_prime_list = list(range(2, 2*123456)) #문제에서 주어진 범위
prime_list = []
for i in a_prime_list:
  if prime(i):
    prime_list.append(i)

while True: #정답 출력 부분
  cnt = 0
  n = int(input())
  if n == 0:
    break
  for i in prime_list:
    if n<i<= 2*n:
      cnt += 1

  print(cnt)

###주의할 점

for 나 while문을 돌리면서 매번 입력된 숫자들 사이에서 소수를 찾는 것 보다 주어진 숫자 값 사이에서 소수를 구하는게 오히려 용량을 덜 잡아먹는다.

계속 순환문을 도는것이 생각보다 많은 부하가 걸린다.

###백준 9020 골드바흐의 추측(python)

1보다 큰 자연수 중에서  1과 자기 자신을 제외한 약수가 없는 자연수를 소수라고 한다. 예를 들어, 5는 1과 5를 제외한 약수가 없기 때문에 소수이다. 하지만, 6은 6 = 2 × 3 이기 때문에 소수가 아니다.

골드바흐의 추측은 유명한 정수론의 미해결 문제로, 2보다 큰 모든 짝수는 두 소수의 합으로 나타낼 수 있다는 것이다. 이러한 수를 골드바흐 수라고 한다. 또, 짝수를 두 소수의 합으로 나타내는 표현을 그 수의 골드바흐 파티션이라고 한다. 예를 들면, 4 = 2 + 2, 6 = 3 + 3, 8 = 3 + 5, 10 = 5 + 5, 12 = 5 + 7, 14 = 3 + 11, 14 = 7 + 7이다. 10000보다 작거나 같은 모든 짝수 n에 대한 골드바흐 파티션은 존재한다.

2보다 큰 짝수 n이 주어졌을 때, n의 골드바흐 파티션을 출력하는 프로그램을 작성하시오. 만약 가능한 n의 골드바흐 파티션이 여러 가지인 경우에는 두 소수의 차이가 가장 작은 것을 출력한다.

아직도 왜 -= 1, += 1해도 되는지는 잘 모르겠다 왜??

In [ ]:
from math import sqrt
nums = [8, 10, 16]
def prime(n):
  if n == 1:
    return False
  for i in range(2, int(sqrt(n)+1)):
    if n % i == 0:
      return False
  return True

prime_list = [i for i in range(2, 10002)]
new_prime_list = []
for i in prime_list:
  if prime(i):
    new_prime_list.append(i)

for j in nums:
  a,b = j//2, j//2
  while True:
    if (a in new_prime_list) and (b in new_prime_list):
      if a + b == j:
        print(a, b)
        break
      else:
        a -= 1
        b += 1
    else:
      a -= 1
      b += 1

3 5
5 5
5 11

###수 정렬하기

수를 정렬하기는 많은 방법이 있다. 각 언어에 내장된 함수를 써도 되지만 시간이 오래걸리므로 알고리즘을 짜서 수를 정렬, 비교할 수 있다.

1. 버블 정렬 :   
인접한 두 수를 비교하여 작은 수는 왼쪽으로 큰 수는 오른쪽으로 이동한다.
2. 삽입 정렬 :   
key값 뒤에 있는 원소와 순서대로 비교한다.
3. 선택 정렬 :   
가장 작은 값을 가지는 위치를 찾아서 교환한다.
4. 병합 정렬 :   
리스트를 left, right로 나눈다. 리스트의 원소의 개수가 1이 될때까지 한다. 그후 left, right리스트를 비교하며 정렬한다.
5. 퀵 정렬 :   
기준이 되는 pivot을 정한다. 이후 이 pivot을 기준으로 분할, 정렬한다.
6. 힙 정렬 :   
Heap이란 최댓값 및 최솟값을 찾아내기 위한 완전이진트리 형태의 자료구조입니다.
Heap 형태를 갖추도록 정렬하고 root와 찾아낸 자식 값을 바꾼 뒤 다시 정렬하는 방식입니다.

In [ ]:
#================================================================버블 정렬 ==================================================

test_case = int(input())
nums = []

for _ in range(test_case):
  n = int(input())
  nums.append(n)

while True:
  cnt = 0
  for i in range(len(nums)-1):
    if nums[i] > nums[i+1]:
      nums[i], nums[i+1] = nums[i+1], nums[i]
    else:
      cnt+=1
  if cnt == len(nums)-1:
    break

for i in nums:
  print(i)

###merge - sort

In [ ]:
#====================================================================합병 정렬===================================================== 
#import sys #기본적인 셋팅, 문제에 맞는 조건
#input = sys.stdin.readline
test_case = int(input())
nums = []

for _ in range(test_case):
  n = int(input())
  nums.append(n)

#nums = [1,5,4,2,3]

def divide(nums):
  if len(nums) < 2:
    return nums
  
  mid = len(nums)//2
  left = divide(nums[:mid])
  right = divide(nums[mid:])

  return merge(left, right)

def merge(left, right):
  answer = []
  i=j=0

  while (i < len(left)) and (j < len(right)):
    if left[i] > right[j]:
      answer.append(right[j])
      j += 1
    else:
      answer.append(left[i])
      i += 1
  while i < len(left): # 남은것 정리라는 의미
    answer.append(left[i])
    i += 1
  while j < len(right):
    answer.append(right[j])
    j += 1

  return answer

for i in divide(nums):
  print(i)

5
2
1
4
3
5
1
2
3
4
5

###상당히 헛갈렸던 점

남은것 정리라는 의미가 무슨 의미인지 잘 몰랐다. -> left list와 right list를 돌다 보면 한곳이 먼저 위의 and문에 걸리게된다. 그러면 while문이 깨지는데 이 때 left or right list가 다 순회하지 못하는 상황이 온다.

이것을 해결하기 위해서 밑에 while문 2개를 쓴다. 둘중 뭐가 먼저 떨어질 지 모르니까 둘 다 while문으로 적어준다.

###Counting Sort - 계수 정렬

In [ ]:
test_case = int(input())
num = []
for _ in range(test_case):
  number = int(input())
  num.append(number)

sort = [ 0 for _ in range(max(num)+1)]

for i in num:
  sort[i] += 1

answer = []

for index, n in enumerate(sort):
  if n == 0:
    continue
  else:
    for _ in range(n):
      answer.append(index)

print(answer)

위와 같이 하면 메모리 초과가 뜬다. 왜 그럴까??

만약 입력 받은 숫자의 리스트가 [0, 100, 0, 200]이라고 생각해보자

그렇다면 1~99까지의 무의미한 반복이 있게 되므로 메모리 초과가 뜨는 것이다. 

그러므로 아래와 같이 계수들의 누적합을 계산하는 방식으로 해야 위와같은 무의미한 반복을 안할 수 있다.

In [ ]:
nums = [5, 2, 3, 1, 4, 2, 3, 5, 1, 7]

sort_list = [0 for _ in range(max(nums)+1)]

for i in nums:
  sort_list[i] += 1

for j in range(len(sort_list)-1):
  sort_list[j+1] += sort_list[j]

answer = [0 for _ in nums]

print(sort_list)
for n in nums:
  index = sort_list[n]
  answer[index - 1] = n
  sort_list[n] -= 1

print(answer)

[0, 2, 4, 6, 7, 9, 9, 10]
[1, 1, 2, 2, 3, 3, 4, 5, 5, 7]

다만 이렇게 해도 백준에서는 메모리 부족이 떳다.

결국에는 count하는 숫자의 리스트를 그냥 만들어놓고 했다. -> 성공 ,,,왜??

###통계학

In [ ]:
#test_case = int(input())
nums = [1,2,3,1,2,]
#for _ in range(test_case):
  #n = int(input())
  #nums.append(n)

nums = sorted(nums)

mean = round(sum(nums)/len(nums))
mid = nums[len(nums)//2]

#최빈값


rg = nums[-1] - nums[0]

###좌표 정렬하기1,2

2차원 배열도 sort함수로 한방에 정리가 가능하다 개꿀이네??

In [ ]:
#test_case = int(input())

coo = [[0,4], [1,2], [1,-1], [2,2], [3,3]] #우선 y좌표값으로 정렬한 인덱스 번호를 저장
#for _ in range(test_case):
 # coo.append(list(map(int, input().split())))

for i in coo:
  i[0],i[1] = i[1],i[0]

coo.sort()
for i in coo:
  i[0], i[1] = i[1], i[0]

for j in coo:
  print(str(j[0])+' '+str(j[1]))

1 -1
1 2
2 2
3 3
0 4

###백준 1181 문자열 정리하기

알파벳 소문자로 이루어진 N개의 단어가 들어오면 아래와 같은 조건에 따라 정렬하는 프로그램을 작성하시오.

1. 길이가 짧은 것부터
2. 길이가 같으면 사전 순으로

----------------------------------------------------------------


sort 함수는 문자열도 정리할 수 있다. - 아는 사실

하지만 key값을 통해서 무엇을 기준으로 정렬할 지 정할 수 있다. 

이번 문제같은 경우는 key값을 len으로 정하면서 len값으로 정렬이 가능하다.

**추가적으로**

 words.sort(key = len)으로 한번에 정리될 줄 알았는데 아니었다.
 
 먼저 sort()로 정리해준 후 다시 key = len으로 재 정렬을 해줘야 len값을 중심으로 정렬이 된다.
 정확한 이유는 잘 모르겠다.

In [ ]:
#test_case = int(input())
words = ['but','i','wont','hesitate','no','more','no','more','it','cannot','wait','im','yours']
#for _ in range(test_case):
#  words.append(input())

words = list(set(words))
words.sort()
words.sort(key = len)

print(words)

['i', 'im', 'it', 'no', 'but', 'more', 'wait', 'wont', 'yours', 'cannot', 'hesitate']

위의 문제와 마찬가지로 나이순 정렬 문제도 파이썬 내장함수 sort를 이용, key값 지정을 통해서 정렬한다.

sort의 key값을 lambda로 지정할 수 있다.

In [ ]:
join = [[21, 'J'], [21, 'D'], [20, 'S']]

join.sort(key= lambda a: int(a[0]))
for i in join:
  print(i[0], i[1])

20 S
21 J
21 D

###백준 2108 통계학

Counter함수 -- python 내장 함수로서 dict형과 같은 api를 공유한다.

-> 인덱스 활용 - 가능

-> +- - 가능

또한 counter.most_common()함수로 가장 많은 것, 가장 적은 항목들을 내림차순으로 정리해서 주기 때문에 상당히 편하다.

common()에 인자를 넣을 수 있는데 이것은 몇개까지 출력할 것인지에 대한 것이다.

디폴트 값은 2이다.

In [ ]:
from collections import Counter

nums = [0,0,1,1,2,2]
nums.sort()

mean = round(sum(nums)/len(nums))
mid = nums[len(nums)//2]
print(mean)
print(mid)

mode = Counter(nums).most_common()
mode_val = 0
print(mode)
if mode[0][1] == mode[1][1]:
  mode_val = mode[1][0]
else:
  mode_val = mode[0][0]

print(mode_val)

###백준 18870 좌표압축

In [ ]:
test_case = int(input())
nums = []
for _ in range(test_case):
  nums.append(int(input()))

sort_nums = sorted(nums)
answer = {}
for i in nums:
  answer[i] = sort_nums.index(i)

num_list = []
for i in nums:
  num_list.append(str(answer[i]))

print(' '.join(num_list))

이렇게 하면 시간 오버가 뜬당^^

In [ ]:
test_case = int(input())
nums = []
for _ in range(test_case):
  nums.append(int(input()))

sort_nums = sorted(list(set(nums)))) #중복을 제거하고 한번에 정렬
dic = {sort_nums[i] : i for i in range(len(sort_nums))} #정렬된 값과 인덱스 값을 딕셔너리에 저장
for j in nums:
  print(dic[j], end = ' ')

###제귀 함수

팩토리얼 구현

In [ ]:
n = int(input())

def pac(n):
  if n == 0:
    return 1
  
  return( n * pac(n-1))

print(pac(n))

피보나치 수열 구현

In [ ]:
n = int(input())

def self_num(n):
  if n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return self_num(n-1) + self_num(n-2)
print(self_num(n))

재귀의 귀제

In [ ]:
test_case = int(input())

def recursion(s, l, r, cnt):
  if l >= r: return (' '.join(list(map(str, [1, cnt]))))

  elif s[l] != s[r]: return (' '.join(list(map(str, [0, cnt]))))

  else:
    cnt += 1
    return recursion(s, l+1, r-1, cnt)

def isPalindrome(s):
  return recursion(s, 0, len(s)-1, 1)

for _ in range(test_case):
  string = input()
  print(isPalindrome(string))

병합 정렬 응용

In [ ]:
t = 13
nums = [4,5,1,3,2]
si = 0
cnt = 0

def sort(nums):
  if len(nums)< 2:
    return nums
  
  mid = (len(nums)+1)//2
  left = sort(nums[:mid])
  right = sort(nums[mid:])

  return merge(left, right)

def merge(left, right):
  i = j = 0
  answer = []

  while (i < len(left)) and (j < len(right)):
    if left[i] < right[j]:
      answer.append(left[i])
      i += 1
    else:
      answer.append(right[j])
      j += 1
  while i < len(left):
    answer.append(left[i])
    i += 1
  while j < len(right):
    answer.append(right[j])
    j += 1
  for k in answer:
    global cnt
    cnt += 1
    if cnt == t:
      global si
      si = k
  if t > cnt:
    si = -1
  return answer

print([sort(nums), si][-1])

-1

별 그리기

In [ ]:
n = int(input())

def star(n):
  if n == 1:
    return ['*']

  draw = star(n//3)
  answer = []

  for i in draw:
    answer.append(i*3)

  for j in draw:
    answer.append(j+' '*(n//3)+j)

  for t in draw:
    answer.append(t*3)

  return answer
  
print('\n'.join(star(n)))

하노이의 탑 

아직 잘 모르겠다 다시 한번 풀어보는게 좋을 듯 하다.

In [ ]:
n = 5


one = list(range(1,n,-1))
two = []
tree = []

def hanoi(n):
  if n == 1:
    return 1
  
  
  n = (hanoi(n-1)*2)+1
  
  return n

print(hanoi(n))

In [ ]:
n = int(input())

def hanoi(n,a,b,c):
  if n == 1:
    print(a,c)
  else:
    hanoi(n-1,a,c,b)
    print(a,c)
    hanoi(n-1,b,a,c)
  
cnt = 0
for _ in range(n):
  cnt = 2*cnt + 1

print(cnt)
hanoi(n,1,2,3)

###부루트포스 알고리즘

블랙잭

python max()함수를 이렇게도 쓸 수 있구나를 느꼈다.

변수를 설정해주고 max함수 내부에서 다시 변수를 호출하면서 있는 수 중에서 가장 큰 수를 저장할 수 있다.

In [ ]:
n = 5
goal_num = 21
nums = [5,6,7,8,9]
result = 0

for i in range(n):
  for j in range(i+1, n):
    for k in range(j+1, n):
      if nums[i] + nums[j] + nums[k] > goal_num:
        continue
      else:
        result = max(result, nums[i] + nums[j] + nums[k])

print(result)

21

분해합

쉬운 문제였는데 더 빨리 풀 수 있는 방법을 연구해서 풀어봤지만 틀리는 반례를 찾지못해 포기

그냥 처음부터 끝까지 돌리는게 브루트포스의 매력이니까 그냥 완전탐색을 해보자

In [ ]:
n = int(input())
answer = []

for i in range(1, n+1):
  if sum(list(map(int, list(str(i))))) + i == n:
    answer.append(i)
    break
  
if len(answer) == 0:
  print(0)
else:
  print(min(answer))

198

덩치

비교 대상보다 덩치가 큰 사람의 수만 구하면 됬다. 쉬운 문제였다.

In [ ]:
n = 5

weight = [55, 58, 88, 60, 46]
hight = [185, 183, 186, 175, 155]
bigman = [1 for _ in range(n)]

for i in range(n-1):
  for j in range(i+1,n):
    if (weight[i] > weight[j]) and (hight[i] > hight[j]):
      bigman[j] += 1
    elif (weight[i] < weight[j]) and (hight[i] < hight[j]):
      bigman[i] += 1
    else:
      continue

print(' '.join(list(map(str, bigman))))

2 2 1 2 5

체스판 다시 칠하기

접근은 정확했다 하지만 인덱스를 활용하는게 코드가 훨신 간단하다

다음에 다시 한번 풀어보자

In [ ]:
high, weith = map(int, input().split())
bord = [list(i) for i in list(input().split())]

line_cnt = 0
cnt = 0
test_bord = []
answer = []
target_bord = list('WBWBWBWBW')

for h in range(high-7):
  for w in range(weith-7):
    for index in bord[h:h+8]:
      test_bord.append(index[w:w+8])
      
    for i in range(2):
      for line in test_bord:
        if line_cnt%2 == 0:
          for a,b in zip(line, target_bord[:-1])
               

    
answer.append(cnt)
    cnt = 0
    line_cnt = 0

    test_bord.clear()

영화감독 숌

In [ ]:
n = int(input())
answer = 666
cnt = 0

if n == 1:
  print(answer)
else:
  while cnt != n:
    if '666' in str(answer):
      cnt += 1
      answer += 1
    else:
      answer += 1
  print(answer -1)

500
166699

###집합과 맵

In [ ]:
n = 5
card = [6,3,2,10,-10]
t = 8
num = [10,9,-5,2,3,4,5,-10]
answer = [0 for _ in range(len(num))]
card.sort()

cnt = -1

for i in num:
  cnt += 1
  test = card[::]
  while len(test) > 1:
    index = (len(test)-1)//2
    if test[index] > i:
      test = test[:index]
    elif test[index] < i:
      test = test[index+1:]
    elif test[index] == i:
      answer[cnt] = 1
      break

    if len(test) == 1:
      if test[0] == i:
        answer[cnt] = 1
  
print(' '.join(list(map(str, answer))))

1 0 0 1 1 0 0 1

이렇게 풀면 시간 오버 납니다.

In [ ]:
n = int(input())
card = sorted(list(map(int, input().split())))
t = int(input())
num = list(map(int, input().split()))

answer = []

def binary(i, card, start, end):
  mid = (start + end)//2

  if start > end:
    answer.append(0)
  elif card[mid] == i:
    answer.append(1)
  elif card[mid] > i:
    binary(i, card, start, mid-1)
  else:
    binary(i, card, mid+1, end)

for i in num:
  start = 0
  end = len(card)-1
  binary(i, card, start, end)

print(' '.join(list(map(str, answer))))

이런식으로 함수를 만들어서 이진 탐색을 풀어볼 수 있도록 합시다.

문자열의 집합

자료간의 복잡도의 개념하나 알고가자면 

파이썬은 자료형 간의 삽입, 제거, 탐색, 포함여부의 시간 복잡도가 다르다.

list자료형은 시간 복잡도가 O(n)

set, dic형은 시간 복잡도가 O(1)이다. 

이런 결과가 나오는 것은 set, dic형이 hash값을 사용하기 때문이다.

hash에 대해서는 다음에 한번 재대로 개념을 잡고 넘어가야겠다.

In [ ]:
n = input().split()
m = input().split()

baekjoononlinejudge startlink codeplus sundaycoding codingsh
baekjoon codeplus codeminus startlink starlink sundaycoding codingsh codinghs sondaycoding startrink icerink

In [ ]:
nn = set(n)
cnt = 0
for i in m:
  if i in nn:
    cnt += 1

print(cnt)

4

set 자료형을 쓰려면 해쉬 가능한 형태여야 한다. 

이는 듀플, 문자열, 숫자만 set형이 가능하다는 말이다.

나는야 포켓몬 마스터

set, dict형의 탐색은 list형보다 훨씬 빠르기 때문에 탐색을 여러번 반복해야한다면 dict형으로 탐색을 하는것도 나쁘지 않다. 아주 깔끔하게 풀었다.

In [ ]:
po, t = map(int, input().split())
pocat_1 = input().split()
pocat = {}
for i in range(1, po+1):
  pocat[str(i)] = pocat_1[i-1]

test = input().split()

26 5
Bulbasaur Ivysaur Venusaur Charmander Charmeleon Charizard Squirtle Wartortle Blastoise Caterpie Metapod Butterfree Weedle Kakuna Beedrill Pidgey Pidgeotto Pidgeot Rattata Raticate Spearow Fearow Ekans Arbok Pikachu Raichu
25 Raichu 3 Pidgey Kakuna

In [ ]:
valuse = dict(map(reversed, pocat.items()))
for t in test:
  if t in pocat:
    print(pocat.get(t))
  if t in valuse:
    print(valuse.get(t))

Pikachu
26
Venusaur
16
14

숫자 카드2

딕셔너리를 활용하는 문제,

다르게 풀 수 있는지는 또 알아봐야함.

In [ ]:
n = 10
n_i = list(map(int, input().split()))
m = 8
m_i = list(map(int, input().split()))

6 3 2 10 10 10 -10 -10 7 3
10 9 -5 2 3 4 5 -10

In [ ]:
answer = dict(zip(n_i, list(0 for _ in range(len(m_i)))))
  
for i in n_i:
  if i in answer:
    answer[i] += 1

for j in m_i:
  if j in answer:
    print(answer.get(j), end = ' ')
  else:
    print(0, end = ' ')

3 0 0 1 2 0 0 2

듣보잡

set형을 활용하면 아주 쉬운 문제였다. 풀이 적을것도 없다.

In [ ]:
n, m = map(int, input().split())

n1 = list(map(int, input().split()))
n2 = list(map(int, input().split()))

print(len(set(n1) ^ set(n2)))

ohhenrie charlie baesangwook
obama baesangwook ohhenrie clinton

서로 다른 부분 문자열의 개수

In [ ]:
string = 'ababc'
answer = []
cnt = 2

for i in range(len(string)):
  for j in range(1, len(string)+1):
    if i+j > len(string):
      break
    answer.append(string[i:i+j])

print(len(set(answer)))

12

###기하학

네번째 점

x좌표와 y좌표를 모아서 비교하면 된다.

In [ ]:
for _ in range(3):
  a,b = map(int, input().split())
  x.append(a)
  y.append(b)

피타고라스의 정리

In [ ]:
while True:
  a,b,c = map(int, input().split())
  if a == b == c == 0:
    break
  
  plist = sorted([a,b,c])
  
  if plist[-1]**2 == plist[0]**2 + plist[1]**2:
    print('right')
  else:
    print('wrong')

참외밭

인덱스를 활용한 문제

In [ ]:
t = int(input())

w_list = []

max_w = 0
max_h = 0

for _ in range(6):
  w, l = map(int, input().split())
  if w == 4 or w == 3:
    if l > max_h:
      max_h = l
  else:
    if l > max_w:
      max_w = l

  w_list.append(l)

w_index = w_list.index(max_w)
h_index = w_list.index(max_h)

answer = (max_w * max_h) - (w_list[(w_index+3)%6] * w_list[(h_index+3)%6])
print(t * answer)

택시 기하학

math를 활용한 pi계산

In [ ]:
from math import pi as p

r = float(input())

answer1 = str(round((r * r * p), 6))
answer2 = str(round((((2*r)**2)/2), 6))
for i in [answer1, answer2]:
  a = i.split('.')
  if len(a[1]) < 6:
    a[1] += '0'*(6 - len(a[1]))
  print('.'.join(a))

21
1385.44236 882.0

터렛

원의 방정식을 활용한 문제

In [ ]:
import math

t = 3
div = ['0 0 13 40 0 37','0 0 3 0 7 4','1 1 1 1 1 5']

for i in div:
  x1, y1, r1, x2, y2, r2 = map(int, i.split())

  dis = math.sqrt((x2-x1)**2 + (y2 - y1)**2)

  if dis == 0 and r1 == r2:
    print(-1)  

  elif abs(r1 - r2) == dis or r1 + r2 == dis:
    print(1)
  elif abs(r1 - r2) < dis < r1 + r2:
    print(2)
  else:
    print(0)

2
1
0

어린 왕자

start점과 end점이 같은 원 안에 속해있는지, 둘다 밖에 있는지, 둘중 하나인지만 파악하면 되는 문제였다.

In [ ]:
import math

t = int(input())

for _ in range(t):
  cnt = 0
  s_x, s_y, e_x, e_y = map(int, input().split())
  test = int(input())
  for _ in range(test):
    x, y, r = map(int, input().split())
    
    s_min = math.sqrt((x - s_x)**2 + (y - s_y)**2)
    e_min = math.sqrt((x - e_x)**2 + (y - e_y)**2)

    if s_min < r and e_min < r:
      continue
    elif s_min > r and e_min > r:
      continue
    else:
      cnt += 1 

  print(cnt)

하키

하키 선수들의 좌표를 구역에 나눠서 설정 한 뒤 원의 반지름의 길이와 점과 점사이의 거리를 구하기만 하면 되는 문제다.

In [ ]:
import math

w, h, x, y, p = map(int, input().split())
r = h//2
cnt = 0

for _ in range(p):
  xx, yy = map(int, input().split())

  if x <= xx <= x+w and y <= yy <= y+h:
    cnt += 1
    continue

  if (x-r <= xx < x) and (y < yy < y+h):
    dis = math.sqrt((x - xx)**2 + ((r+y) - yy)**2)
    if dis <= r:
      cnt += 1
  elif (x+w+r >= xx > x+w) and (y < yy < y+h):
    dis = math.sqrt(((x+w) - xx)**2 + ((y+r) - yy)**2)
    if dis <= r:
      cnt += 1

print(cnt)

20 10 5 0 3
15 5
1
1 5
1
1 1
2

###정수론 & 조합론

In [ ]:
a,b = map(int, input().split())
answer = []
t = 2
aa, bb = a, b

while t <= min(a,b):
  if a%t == 0 and b%t == 0:
    answer.append(t)
    a //= t
    b //= t
  else:
    t += 1

m = 1
for i in answer:
  m *= i

print(m)
print(m*(aa//m)*(bb//m))

24 18
6
72

###이차원 베열

색종이

1번 경우 : 아싸리 안겹치는거

2번 경우 : 왼쪽 이 안겹치는거

3번 경위 : 오른쪽이 안겹치는거

4번 경우 : 완벽하게 다 겹치는거

이런식으로 경우의 수를 나눠서 푸는 문제인 줄 알았는데 

정말 2차원 배열 문제였다

이런식의 사고도 할 줄 알아야 하겠다.

In [ ]:
t = int(input())

nums = [[0 for _ in range(101)] for _ in range(101)]

for _ in range(t):
  x, y = map(int, input().split())
  for i in range(x, x+10):
    for j in range(y, y+10):
      nums[i][j] = 1

cnt = 0
for t in nums:
  cnt += t.count(1)
print(cnt)

3
3 7
15 7
5 2
260

###그리디 알고리즘

동전 0

In [ ]:
n, k = map(int, input().split())
coin = []

for _ in range(n):
  c = int(input())
  if c > k:
    break
  coin.append(c)

cnt = 0

for i in list(reversed(coin)):
  if k == 0:
    break

  cnt += k//i
  k %= i

print(cnt)

10 4200
1
5
10
50
100
500
1000
5000
6

회의실 배정

한 개의 회의실이 있는데 이를 사용하고자 하는 N개의 회의에 대하여 회의실 사용표를 만들려고 한다. 각 회의 I에 대해 시작시간과 끝나는 시간이 주어져 있고, 각 회의가 겹치지 않게 하면서 회의실을 사용할 수 있는 회의의 최대 개수를 찾아보자. 단, 회의는 한번 시작하면 중간에 중단될 수 없으며 한 회의가 끝나는 것과 동시에 다음 회의가 시작될 수 있다. 회의의 시작시간과 끝나는 시간이 같을 수도 있다. 이 경우에는 시작하자마자 끝나는 것으로 생각하면 된다.

여기서 배운 것

1. sort(key)로 lambda를 쓸 수 있다. -> 2차원 리스트인 경우 리스트 안에 있는 리스트의 기준 인덱스 번호를 지정, 지정된 인덱스로 정렬할 수 있다.
2. 

```
for i, j in time:
  if i >= last: # 시작시간이 회의의 마지막 시간보다 크거나 같을경우
    conut += 1
    last = j
```
와 같이 for 문에서 2중 리스트에서 뱌로 변수를 지정 할 수 있다.

In [ ]:
n = int(input())
time = []
for _ in range(n):
  time.append(list(map(int, input().split())))

time.sort(key=lambda x: x[1])

end = time[0][1]
cnt = 0
for i in time[1:]:
  if i[0] >= end:
    end = i[1]
    cnt += 1

print(cnt+1)

ATM

In [ ]:
n = 5
time = [3,1,4,3,2]
time.sort()
st= 0
for i in range(len(time)):
  st += sum(time[:i+1])
print(st)

32

잃어버린 괄호

우선순위에 대한 조건을 잘 만드는 것이 그리디 알고리즘의 기본인 것 같다.

In [ ]:
string = input()
if '-' not in string:
  print(sum(list(map(int, string.split('+')))))
else:
  string = string.split('-')
  answer = 0
  if '+' in string[0]:
    answer += sum(list(map(int, string[0].split('+'))))
  else:
    answer += int(string[0])

  for i in string[1:]:
    if '+' in i:
      answer -= sum(list(map(int, i.split('+'))))
    else:
      answer -= int(i)
  print(answer)

주유소

쉬운 문제였다. 내가 있는 노드와 다음 노드의 가격만 비교한다면 쉽게 풀 수 있다.

In [ ]:
n = 4
dir = [3,3,4]
price = [1,1,1,1]
min_price = price[0]
price = price[1:]
stack = 0

for i in range(n-1):
  if min_price > price[i]:
    stack += min_price * dir[i]
    min_price = price[i]
  else:
    stack += min_price * dir[i]

print(stack)

10

보물 

아주 쉬운 문제였다.

In [ ]:
n = int(input())
a = sorted(list(map(int, input().split())))
b = sorted(list(map(int, input().split())), reverse = True)
answer = 0
for i,j in zip(a,b):
    answer += i*j
print(answer)

카드 정렬하기

In [ ]:
n = 3
cards = [10, 20,30, 40]
cards.sort(reverse = True)
answer = 0

while len(cards) != 1:
  s = cards.pop() + cards.pop()
  cards.append(s)
  answer += s

print(answer)

190

도미노 무너트리기

In [ ]:
n = int(input())

start = []
end = []
for _ in range(n):
  a,b = map(int, input().split())
  start.append(a)
  end.append(b)
  
stack = 0
end_stack = 0
for i in range(n-1):
  if end_stack >= start[i]:
    end_stack = end[i]
  else:
    stack += 1
    end_stack = end[i]
print(stack)

4
1 2
3 1
5 1
7 2
4

전자레인지

In [ ]:
n = int(input())
botton = [0, 0, 0]
time = [300, 60, 10]

if n%10 != 0:
  print(-1)
  
else:
  for i in range(len(botton)):
    if time[i] > n:
      continue
    else:
      botton[i] = n//time[i]
      n %= time[i]
        
print(' '.join(list(map(str, botton))))

189
-1
0 0 0

로프

In [ ]:
n = 3
lope = [2,10,20]

lope.sort()
max_weight = 0
for i in range(n):
  if max_weight <= lope[i] * (n-i):
    max_weight = lope[i] * (n-i)
  else:
    continue
print(max_weight)

20

30

3의 배수는 각 자리의 합이 3의 배수인 점을 활용하면 된다.

처음에는 부루트포스로 다 찾아야 하는 줄 알고 아주 골머리를 앓았지만 3의 배수 공식을 활용하니 아주 쉬운 문제였다.

In [ ]:
n = list(map(int, list(input())))

if sum(n)%3 != 0:
  print(-1)
else:
  n.sort(reverse = True)
  answer = int(''.join(list(map(str, n))))

  if answer % 30 != 0:
    print(-1)
  else:
    print(answer)

['1', '0', '2']

신입 사원

###단기간 실력 향상

평범한 배낭

In [ ]:
n = 4
backpack = 7

weight = [6,4,3,5]
value = [13,8,6,12]

wv = {}
for i, j in zip(weight, value):
  wv[i] = j

wv = dict(sorted(wv.items()))

for i in wv:

{3: 6, 4: 8, 5: 12, 6: 13}

가운데를 말해요

In [ ]:
def sort(back):
  if len(back) == 1:
    return back

  left = sort(back[len(back)//2])


n = 7
back = [1,5,2,10,-99,7,5]
answer = []

for i in back:
  answer.append(i)

-99
-99
1
2

팰린드롬수

In [ ]:
n = [121, 1231, 12421, 0]

for i in n:
  if n == 0:
    break
  else:
    k = list(str(i))
    
    print(i)
    t = True
    for j in range(len(k)//2):
      if k[j] != k[-j-1]:
        t = False
        break
      else:
        t = True
    
    if t == True:
      print("True")
    else:
      print("False")

121
True
1231
False
12421
True
0
True

이항 계수1

In [ ]:
def pac(n):
  k = 1
  for i in range(2, n+1):
    k *= i
  return k

a,b = 5,2
print(pac(a)//(pac(b)*(pac(a-b))))

10

수 찾기

In [ ]:
n = 5
n_list = [4,1,5,2,3]
m_list = [1,3,7,9,5]

n_list.sort()


for i in m_list:
  left = 0
  right = n-1
  while left<=right:
    mid = (left+right)//2
    if n_list[mid] == i:
      answer = True
      break
    elif n_list[mid] > i:
      right = mid - 1
    else:
      left = mid + 1
    answer = False
  print(answer)

카드 2

In [ ]:
from collections import deque
n = 6

card = deque(list(range(1, n+1)))

while len(card) > 1:
  card.popleft()
  card.append(card.popleft())
print(card[0])

4

큐

In [ ]:
from collections import deque

n = int(input())
queue = deque([])

for _ in range(n):
    k = input().split()
    if k[0] == "push":
        queue.append(int(k[1]))
    elif k[0] == "pop":
        if len(queue) < 1:
            print(-1)
        else:
            print(queue.popleft())
    elif k[0] == "size":
        print(len(set(queue)))
    elif k[0] == "empty":
        if len(queue) == 0:
            print(1)
        else:
            print(0)
    elif k[0] == "front":
        if len(queue) < 1:
            print(-1)
        else:
            print(queue.popleft())
    elif k[0] == "back":
        if len(queue) < 1:
            print(-1)
        else:
            print(queue[-1])

덱

In [ ]:
from collections import deque
n, k = 1000, 8
answer = []
p = deque(list(range(1, n+1)))
stack = 1
while len(p) > 0:
  if stack == k:
    answer.append(p.popleft())
    stack = 1
  else:
    p.append(p.popleft())
    stack += 1

print(answer)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000, 9, 18, 27, 36, 45, 54, 63, 73, 82, 91, 100, 109, 118, 127, 137, 146, 155, 164, 173, 182, 191, 201, 210, 219, 228, 237, 246, 255, 265, 274, 283, 292, 301, 310, 319, 329, 338, 347, 356, 365, 374, 383, 393, 402, 411, 420, 429, 438, 447, 457, 466, 475, 484, 493, 502, 511, 521, 530, 539, 548, 557, 566, 575, 585, 594, 603, 612, 621, 630, 639, 649, 658, 667, 676, 685, 694, 703, 713, 722, 731, 740, 749, 758, 767, 777, 786, 795, 804, 813, 822, 831, 841, 850, 859, 868, 877, 886, 895, 905, 914, 923, 932, 941, 950, 959, 969, 978, 987, 996, 5, 15, 26, 37, 47, 58, 68, 78, 89, 99, 110, 121, 131, 141, 151, 162, 172, 183, 194, 204, 214, 225, 235, 245, 257, 267, 277, 287, 298, 308, 318, 330, 340, 350, 361, 371, 381, 391, 403, 413, 423, 434, 444, 454, 465, 476, 486, 497, 507, 517, 527, 538, 549, 559, 570, 580, 590, 601, 611, 622, 633, 643, 653, 663, 674, 684, 695, 706, 716, 726, 737, 747, 757, 769, 779, 789, 799, 810, 820, 830, 842, 852, 862, 873, 883, 893, 903, 915, 925, 935, 946, 956, 966, 977, 988, 998, 10, 21, 33, 44, 57, 69, 81, 93, 105, 116, 129, 140, 153, 165, 177, 188, 199, 212, 223, 236, 249, 260, 271, 284, 295, 307, 321, 332, 343, 355, 367, 379, 390, 404, 415, 427, 439, 451, 462, 474, 487, 499, 510, 523, 534, 546, 558, 571, 582, 595, 606, 618, 629, 642, 654, 666, 678, 690, 701, 714, 725, 738, 750, 762, 773, 785, 797, 809, 821, 834, 845, 857, 869, 881, 892, 906, 917, 929, 940, 953, 964, 975, 989, 1, 13, 28, 41, 53, 67, 83, 95, 108, 123, 135, 149, 163, 178, 190, 205, 218, 231, 244, 259, 273, 286, 300, 314, 326, 341, 354, 369, 382, 396, 409, 422, 436, 450, 463, 478, 491, 505, 518, 532, 545, 561, 573, 587, 599, 614, 627, 641, 655, 669, 682, 697, 709, 723, 735, 751, 764, 778, 791, 805, 818, 833, 846, 860, 874, 887, 900, 913, 927, 942, 955, 970, 982, 995, 11, 25, 42, 59, 74, 87, 103, 119, 134, 150, 167, 181, 197, 213, 229, 243, 261, 276, 291, 306, 323, 337, 353, 370, 386, 399, 417, 431, 446, 461, 479, 494, 509, 525, 541, 555, 572, 588, 604, 619, 635, 650, 665, 681, 698, 711, 729, 743, 759, 774, 790, 806, 823, 837, 853, 867, 884, 899, 916, 931, 947, 962, 979, 993, 7, 29, 46, 62, 79, 98, 115, 133, 154, 170, 187, 206, 222, 241, 258, 278, 294, 313, 331, 348, 364, 385, 401, 419, 437, 455, 471, 490, 508, 526, 543, 563, 579, 597, 615, 634, 651, 670, 687, 705, 721, 741, 756, 775, 794, 812, 828, 847, 865, 882, 901, 919, 937, 954, 972, 990, 6, 30, 50, 70, 90, 111, 130, 148, 171, 193, 211, 233, 252, 270, 293, 315, 334, 357, 375, 395, 414, 435, 458, 477, 498, 516, 537, 556, 578, 598, 620, 638, 660, 679, 700, 719, 742, 763, 782, 802, 825, 843, 863, 885, 907, 924, 945, 965, 985, 4, 31, 52, 76, 101, 124, 145, 169, 195, 217, 239, 263, 285, 309, 333, 358, 378, 405, 426, 449, 470, 495, 519, 542, 565, 589, 610, 636, 659, 683, 707, 730, 753, 772, 798, 819, 844, 870, 891, 911, 938, 961, 983, 12, 35, 61, 86, 114, 142, 166, 196, 221, 250, 275, 302, 325, 351, 380, 407, 433, 460, 485, 514, 540, 567, 593, 623, 646, 673, 699, 727, 754, 781, 807, 835, 858, 889, 910, 939, 967, 994, 20, 51, 84, 113, 143, 175, 203, 234, 266, 297, 324, 359, 388, 418, 445, 481, 506, 535, 569, 602, 628, 661, 691, 718, 748, 783, 814, 839, 875, 902, 933, 963, 997, 23, 65, 97, 132, 161, 202, 238, 269, 305, 342, 373, 410, 443, 482, 515, 551, 583, 617, 652, 689, 724, 761, 793, 827, 861, 897, 930, 971, 2, 39, 77, 122, 158, 198, 242, 281, 317, 362, 397, 441, 473, 522, 554, 596, 637, 675, 715, 755, 796, 836, 876, 918, 951, 991, 38, 85, 126, 179, 220, 262, 311, 349, 398, 452, 492, 533, 581, 626, 671, 717, 766, 811, 854, 898, 948, 986, 43, 94, 147, 189, 251, 299, 346, 406, 459, 503, 562, 609, 662, 710, 770, 817, 871, 922, 974, 22, 92, 156, 209, 268, 327, 387, 442, 501, 564, 625, 686, 739, 801, 855, 921, 980, 49, 107, 180, 247, 316, 377, 453, 524, 586, 647, 732, 787, 851, 926, 999, 66, 139, 226, 290, 372, 467, 531, 607, 692, 765, 838, 909, 3, 75, 174, 254, 345, 428, 529, 613, 702, 788, 879, 958, 60, 159, 279, 366, 469, 574, 668, 771, 878, 973, 102, 207, 322, 425, 550, 657, 780, 894, 17, 138, 282, 412, 547, 677, 815, 943, 71, 227, 389, 513, 693, 829, 981, 157, 335, 489, 645, 849, 19, 215, 421, 605, 803, 14, 230, 468, 708, 908, 125, 394, 644, 934, 186, 500, 746, 106, 430, 745, 117, 553, 890, 303, 734, 253, 733, 289, 866, 483, 55, 949, 631, 591, 826, 34, 363, 339, 957, 577, 185]

9 10 1 2 3 4

8 6 5 7

###BFS(넓이 우선 탐색)

그림

In [ ]:
h,w = 6,5

page = []
for _ in range(h):
  page.append(input().split())

1 1 0 1 1
0 1 1 0 0
0 0 0 0 0
1 0 1 1 1
0 0 1 1 1
0 0 1 1 1

In [ ]:
for i in range(len(page)):
  page[i] = list(map(int, page[i]))
boolian = [[False]* w for i in range(h)]
print(boolian)

In [ ]:
def bfs(x,y):
  wide = 1
  if page[x][y+1] == 1:
    boolian[x][y] ==  True
    
    wide += 1
  elif page[x+1][y] == 1:
    boolian[x][y] == True

In [ ]:
for i in range(len(page)):
  for j in range(len(i)):
    if page[i][j] == 1 and boolian[i][j] == False:
      bfs

바닥 장식

모르고 DFS문제를 풀었다.

정규 알고리즘을 만들어서 풀지는 않았지만 나름 dfs와 bfs의 풀이 방법을 알게 된 것 같다.

상당히 기분이 좋다.

In [ ]:
h, w = map(int, input().split())
j = []
j.append(input().split())

6 6
-||--| |||||| |||-|- -||||- ||||-| ||-||-

In [ ]:
f = []
for i in j[0]:
  f.append(list(i))

print(f)

[['-', '|', '|', '-', '-', '|'], ['|', '|', '|', '|', '|', '|'], ['|', '|', '|', '-', '|', '-'], ['-', '|', '|', '|', '|', '-'], ['|', '|', '|', '|', '-', '|'], ['|', '|', '-', '|', '|', '-']]

In [ ]:
boolian = []
for i in range(h):
  boolian.append(list(False for _ in range(w)))

cnt = 0

for i in range(h):
  for j in range(w):
    if boolian[i][j] == True:
      continue

    if f[i][j] == '-':
      boolian[i][j] = True

      while True:
        if j +1 >= w:
          cnt += 1
          break
        else:
          j += 1
          if f[i][j] != '-':
            cnt += 1
            break
          else:
            boolian[i][j] = True

for j in range(w):
  for i in range(h):
    if boolian[i][j] == True:
      continue

    if f[i][j] == '|':
      boolian[i][j] = True

      while True:
        if i + 1 >= h:
          cnt += 1
          break
        else:
          i += 1
          if f[i][j] != '|':
            cnt += 1
            break
          else:
            boolian[i][j] = True

print(cnt)

19

점프왕 쩰리

In [ ]:
from collections import deque

n = int(input())
floor = [list(map(int, input().split())) for _ in range(n)]
boolean = [[False]*n for _ in range(n)]

dx = [0, 1]
dy = [1, 0]

def bfs(x, y):
  q = deque()
  q.append([x,y])

  while q:
    x, y = q.popleft()

    step = floor[x][y]

    if floor[x][y] == -1:
      return True

    for m in range(2):
      nx = x + dx[m]*step
      ny = y + dy[m]*step

      if nx < 0 or nx >= n or ny < 0 or ny >= n:
        continue

      if boolean[nx][ny] == False:
        boolean[nx][ny] = True

        q.append([nx, ny])

if bfs(0,0):
  print(1)
else:
  print(0)

바이러스

괜찮은 dfs문제였다. 

bfs를 사용해서 한번 더 풀어보자

(아무리 봐도 dfs가 더 효율적이긴 하다.)

In [ ]:
n = int(input())
path = int(input())

graph = [[] for _ in range(n+1)]
boolean = [False]*(n+1)

for _ in range(path):
  a,b = map(int, input().split())
  graph[a].append(b)
  graph[b].append(a)
cnt = 0
def dfs(start):
  global cnt
  boolean[start] = True
  for i in graph[start]:
    if boolean[i] == False:
      dfs(i)
      cnt += 1

dfs(1)
print(cnt)

The game of death

In [ ]:
test_case = 1
people = 7
nums = [0,2,3,4,5,6,7,1]
cnt = 0
boolean = [False] * (people+1)


def dfs(start):
  global cnt

  answer = nums[start]

  if answer == people:
    return cnt+1

  if boolean[start] == True:
    return 0

  else:
    boolean[start] = True
    cnt += 1
    return dfs(nums[start])

if people not in nums:
  print(0)
else:
  x = dfs(1)
  if x == 0:
    print(0)
  else:
    print(x)

6

한동이는 공부가 하기 싫어

탐색하는 그레프 자체가 1차같은 2차 방향이기 때문에 그냥 true값이 얼마나 있는 지 확인만 해주면 된다.

In [ ]:
n = 6

nums = [2,3,4,3,1,1]
graph = [[] for _ in range(n+1)]

#for문은 밖으로 뺀다는 마인드로 하고
for i in range(1, n+1):
  graph[i].append(nums[i-1])
cnt = 0

def dfs(start):
  global cnt

  if boolean[start] == True:
    return

  else:
    boolean[start] = True
    cnt += 1
    dfs(graph[start][0]) 

answer = []

for j in range(1, n+1):
  boolean = [False] * (n+1)
  dfs(j)
  answer.append(boolean.count(True))

print(answer.index(max(answer))+1)

5

In [ ]:
n = 6
bo = 2

nums = [1,3,5,4,0,2]
boolean = [False] * (n)
graph = [[] for _ in range(n)]

for i in range(n):
  graph[i].append(nums[i])

print(graph)
cnt = 0
def dfs(start):
  global cnt

  if graph[start][0] == bo:
    return cnt+1
  
  if boolean[start] == True:
    return -1
  
  else:
    boolean[start] = True
    cnt += 1
    return dfs(graph[start][0])

answer = dfs(0)
print(answer)

[[1], [3], [5], [4], [0], [2]]
-1

### 한양대학교

In [ ]:
#세로 달력

yo = 7 #이거 토요일
odd = [1,3,5,7,8,10,12]
even = [4,6,9,11]
cnt = 0

for i in range(1, 13):
  graph = [[] for _ in range(7)]

  if i == 2:
    day = 28
  elif i in odd:
    day = 31
  else:
    day = 30

  i = 1
  while i <= day:
    if yo > 7:
      yo = 1
    graph[(yo-1)%7].append(i)
    yo += 1
    i += 1

  print(graph)
  for j in graph:
    if len(j) == 5:
      cnt += 1

print(cnt)

In [ ]:
#identify...

n = int(input())
string = []
for _ in range(n):
  string.append(input().split())

string.sort(key = lambda x: int(x[1]))
print(string)
answer = []
for i in string:
  answer.append(list(i[0])[int(i[2])-1])
print(''.join(answer).upper())

In [ ]:
#즉흥 여행 (easy)

n, m = 4,4
t = [[1,2], [2,1], [3,4], [4,3]]

graph = [[] for _ in range(n+1)]

for i in t:
  a,b = i
  graph[a].append(b)
print(graph)

def bfs(start):
  print(1)
  for i in graph[start]:
    if boolean[i] == True:
      continue
    else:
      boolean[i] = True
      bfs(i)

for i in range(1, n+1):
  boolean = [False] * (n+1)
  bfs(i)
  if False in boolean[1:]:
    print('No')
    break

  print('Yes')

[[], [2], [1], [4], [3]]
1
1
1
No

In [ ]:
n,m = map(int, input().split())

graph = [[] for _ in range(n+1)]

for _ in range(m):
    a,b = list(map(int, input().split()))
    graph[a].append(b)

def bfs(start):
    if boolean[start] == True:
      return

    for i in graph[start]:
        if boolean[i] == True:
            continue
        else:
            boolean[i] = True
            bfs(i)
answer = True
for i in range(1, n+1):
    boolean = [False] * (n+1)
    bfs(i)
    if False in boolean[1:]:
        answer = False

if answer == False:
  print('No')
else:
  print('Yes')

4 4
1 2
2 3
3 4
4 2
No

In [ ]:
n = int(input())
top = list(map(int, input().split()))
bottom = list(map(int, input().split()))

b_num = int(input())
bird = list(map(int, input().split()))

for i in bird:
    cnt  = 0
    for a,b in zip(top, bottom):
      if a-i >= b:
        cnt += 1
      else:
        break
    print(cnt)

7
10 5 7 7 8 9 10
1 -1 2 -1 5 2 9
4
3 7 5 1
6
1
4
7

In [ ]:
from konlpy.tag import Okt

ModuleNotFoundError: ignored